#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_hydracoin
#build/hydracoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_hydracoin)

DEB_INSTALL_EXAMPLES_hydracoind += debian/examples/*
DEB_INSTALL_MANPAGES_hydracoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix hydracoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f hydracoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake hydracoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_hydracoin
	src/test_hydracoin

# Ensure wrapper is set executable
binary-post-install/hydracoind:
	chmod +x $(cdbs_curdestdir)usr/bin/hydracoind
binary-post-install/hydracoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/hydracoin-qt
